/* Réinitialisation et styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #FFD700;
}

/* Sections */
section {
    padding: 80px 20px;
    text-align: center;
}

/* Page d'accueil */
.accueil {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-align: center;
}
.btn{
        background-color: #5cb85c;
        color: white;
        padding: 15px 25px;
        border-radius: 30px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
     transition: background-color 0.3s, transform 0.3s;
}
/* Page avantages */
.avantages-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.avantage-item {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.avantage-item:hover {
    transform: scale(1.05);
}

.avantage-item img {
    width: 100%;
    border-radius: 10px;
}

/* Formulaire */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
    
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.contact button {
    background-color: #5cb85c;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}


.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    border-radius: 50px 50px 0 0;
}
